## Concat Raw files from the inegi.zip files, by extracting death causes related to cancer

In [10]:
#Librerias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import re
from os.path import dirname

In [11]:
dirs = list()
from os.path import dirname
dir = dirname(dirname(dirname(os.getcwd())))+'\\dataWarehouse\\more_dead'
for filename in os.listdir(dir):
    if filename.endswith(".csv") or filename.endswith(".CSV"):
        dirs.append(dir+"\\"+filename)
dirs

['c:\\Users\\David Fernandez\\Desktop\\dataWarehouse\\more_dead\\DEFUN10.csv',
 'c:\\Users\\David Fernandez\\Desktop\\dataWarehouse\\more_dead\\DEFUN11.csv',
 'c:\\Users\\David Fernandez\\Desktop\\dataWarehouse\\more_dead\\DEFUN12.csv',
 'c:\\Users\\David Fernandez\\Desktop\\dataWarehouse\\more_dead\\DEFUN13.csv',
 'c:\\Users\\David Fernandez\\Desktop\\dataWarehouse\\more_dead\\DEFUN14.csv',
 'c:\\Users\\David Fernandez\\Desktop\\dataWarehouse\\more_dead\\DEFUN15.csv',
 'c:\\Users\\David Fernandez\\Desktop\\dataWarehouse\\more_dead\\DEFUN16.csv',
 'c:\\Users\\David Fernandez\\Desktop\\dataWarehouse\\more_dead\\DEFUN17.csv',
 'c:\\Users\\David Fernandez\\Desktop\\dataWarehouse\\more_dead\\DEFUN18.csv',
 'c:\\Users\\David Fernandez\\Desktop\\dataWarehouse\\more_dead\\DEFUN19.csv']

In [12]:
#open each file with pandas, extract death causes with REGEX CXXX,D000-D499 on each file
defunc = list()
for filename in dirs:
        print(filename)
        currDF = pd.read_csv(filename)
        currDF.columns = [x.lower() for x in currDF.columns]
        currDF = currDF[currDF['causa_def'].str.contains(r'^C')]
        defunc.append(currDF) #Append clean datafiles on list

c:\Users\David Fernandez\Desktop\dataWarehouse\more_dead\DEFUN10.csv
c:\Users\David Fernandez\Desktop\dataWarehouse\more_dead\DEFUN11.csv
c:\Users\David Fernandez\Desktop\dataWarehouse\more_dead\DEFUN12.csv
c:\Users\David Fernandez\Desktop\dataWarehouse\more_dead\DEFUN13.csv
C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (42,50) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\Users\David Fernandez\Desktop\dataWarehouse\more_dead\DEFUN14.csv
c:\Users\David Fernandez\Desktop\dataWarehouse\more_dead\DEFUN15.csv
c:\Users\David Fernandez\Desktop\dataWarehouse\more_dead\DEFUN16.csv
c:\Users\David Fernandez\Desktop\dataWarehouse\more_dead\DEFUN17.csv
c:\Users\David Fernandez\Desktop\dataWarehouse\more_dead\DEFUN18.csv
c:\Users\David Fernandez\Desktop\dataWarehouse\more_dead\DEFUN19.csv

In [13]:
totalDefunc = pd.concat(defunc) #Make sigle frame out of each frame in defunc list
totalDefunc.shape[0]

787756

In [14]:
totalDefunc = totalDefunc.reset_index()
totalDefunc.head()

,index,ent_regis,mun_regis,ent_resid,mun_resid,tloc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,causa_def,...,lengua,cond_act,par_agre,ent_ocules,mun_ocules,loc_resid,loc_ocurr,loc_ocules,razon_m,loc_ocur
0,7,1,1,1,1,1,1,1,1,C250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20,1,2,1,2,4,1,2,4,C229,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,41,1,3,1,3,2,1,3,1,C259,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,53,1,3,1,3,7,1,3,7,C349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,61,1,3,1,3,1,1,3,1,C481,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
totalDefunc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 787756 entries, 0 to 787755
Data columns (total 62 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   index       787756 non-null  int64
 1   ent_regis   787756 non-null  int64
 2   mun_regis   787756 non-null  int64
 3   ent_resid   787756 non-null  int64
 4   mun_resid   787756 non-null  int64
 5   tloc_resid  787756 non-null  int64
 6   ent_ocurr   787756 non-null  int64
 7   mun_ocurr   787756 non-null  int64
 8   tloc_ocurr  787756 non-null  int64
 9   causa_def   787756 non-null  object
 10  lista_mex   787756 non-null  object
 11  sexo        787756 non-null  int64
 12  edad        787756 non-null  int64
 13  dia_ocurr   787756 non-null  int64
 14  mes_ocurr   787756 non-null  int64
 15  anio_ocur   787756 non-null  int64
 16  dia_regis   787756 non-null  int64
 17  mes_regis   787756 non-null  int64
 18  anio_regis  787756 non-null  int64
 19  dia_nacim   787756 non-null  int64
 20  mes_nacim   787756 non-null  int64
 21  anio_nacim  787756 non-null  int64
 22  ocupacion   787756 non-null  int64
 23  escolarida  787756 non-null  int64
 24  edo_civil   787756 non-null  int64
 25  presunto    787756 non-null  int64
 26  ocurr_trab  787756 non-null  int64
 27  lugar_ocur  787756 non-null  int64
 28  necropsia   787756 non-null  int64
 29  asist_medi  787756 non-null  int64
 30  sitio_ocur  787756 non-null  int64
 31  cond_cert   787756 non-null  int64
 32  nacionalid  787756 non-null  int64
 33  derechohab  787756 non-null  int64
 34  embarazo    787756 non-null  int64
 35  rel_emba    787756 non-null  int64
 36  horas       787756 non-null  int64
 37  minutos     787756 non-null  int64
 38  capitulo    787756 non-null  int64
 39  grupo       787756 non-null  int64
 40  lista1      787756 non-null  int64
 41  gr_lismex   787756 non-null  object
 42  vio_fami    787756 non-null  int64
 43  area_ur     787756 non-null  int64
 44  edad_agru   787756 non-null  int64
 45  complicaro  787756 non-null  int64
 46  dia_cert    787756 non-null  int64
 47  mes_cert    787756 non-null  int64
 48  anio_cert   787756 non-null  int64
 49  peso        141590 non-null  float64
 50  maternas    234 non-null     object
 51  dis_re_oax  787756 non-null  int64
 52  lengua      646166 non-null  float64
 53  cond_act    646166 non-null  float64
 54  par_agre    646166 non-null  float64
 55  ent_ocules  646166 non-null  float64
 56  mun_ocules  646166 non-null  float64
 57  loc_resid   572926 non-null  float64
 58  loc_ocurr   488784 non-null  float64
 59  loc_ocules  572926 non-null  float64
 60  razon_m     403030 non-null  float64
 61  loc_ocur    84142 non-null   float64
dtypes: float64(11), int64(47), object(4)
memory usage: 372.6+ MB

In [20]:
#save total to new file
from pathlib import Path
ndir = dirname(dirname(os.getcwd()))
Path(ndir+"/yearRecords").mkdir(parents=True, exist_ok=True)
for i in range(0,len(defunc)):
    year = re.search('(\d{2})',dirs[i])
    path = ndir+"\\yearRecords\\cle_20"+year.group(0)+".csv"
    defunc[i].to_csv(path)

In [19]:
ndir

'c:\\Users\\David Fernandez\\Desktop\\cancerDataAnalysis\\CleansingNotebooks'