# Add ICD
Each file inside CODEC is used as a dictionary to map certain fields on TotalCleaned to some values, like death cause to an ICD, usiong pandas .to_dict() and .map() functions

In [1]:
#Librerias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import re

In [2]:
from os.path import dirname
pPath = dirname(dirname(os.getcwd()))+'\\CleansingNotebooks\\TotalCleanedTest.csv'
df = pd.read_csv(pPath)
df.head()

,index,ent_regis,mun_regis,ent_resid,mun_resid,tloc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,causa_def,...,complicaro,dia_cert,mes_cert,anio_cert,peso,lengua,cond_act,loc_resid,loc_ocurr,loc_ocur
0,0,1,1,1,1,1,1,1,1,C250,...,8,11,1,2010,8888.0,NaN,NaN,NaN,NaN,NaN
1,1,1,2,1,2,4,1,2,4,C229,...,8,5,1,2010,8888.0,NaN,NaN,NaN,NaN,NaN
2,2,1,3,1,3,2,1,3,1,C259,...,2,1,1,2010,8888.0,NaN,NaN,NaN,NaN,NaN
3,3,1,3,1,3,7,1,3,7,C349,...,2,14,1,2010,8888.0,NaN,NaN,NaN,NaN,NaN
4,4,1,3,1,3,1,1,3,1,C481,...,8,20,1,2010,8888.0,NaN,NaN,NaN,NaN,NaN

In [3]:
pPath = dirname(dirname(os.getcwd())) + '\\codec\\CODEX.xlsx'
currDict = pd.read_excel(pPath)
currDict.head()

  cause                                          cause_det  ICD
0  C000     Tumor maligno del labio superior, cara externa  C14
1  C001     Tumor maligno del labio inferior, cara externa  C14
2  C002  Tumor maligno del labio, cara externa, sin otr...  C14
3  C003     Tumor maligno del labio superior, cara interna  C14
4  C004     Tumor maligno del labio inferior, cara interna  C14

In [4]:
currDict.set_index('cause', inplace=True)
currDict

                                               cause_det  ICD
cause
C000      Tumor maligno del labio superior, cara externa  C14
C001      Tumor maligno del labio inferior, cara externa  C14
C002   Tumor maligno del labio, cara externa, sin otr...  C14
C003      Tumor maligno del labio superior, cara interna  C14
C004      Tumor maligno del labio inferior, cara interna  C14
...                                                  ...  ...
D091   Carcinoma in situ de otros órganos urinarios y...  C68
D092                           Carcinoma in situ del ojo  C69
D093   Carcinoma in situ de la glándula tiroides y de...  C73
D097     Carcinoma in situ de otros sitios especificados  C73
D099            Carcinoma in situ, sitio no especificado  C73

[540 rows x 2 columns]

In [5]:
cause_dict = currDict.to_dict()['ICD']
df['ICD'] = df['causa_def'].map(cause_dict)
ICDs = df['ICD'].value_counts().rename_axis('unique_values').reset_index(name='counts')
ICDs

   unique_values  counts
0            C25   70530
1            C34   69961
2            C16   63232
3            C61   63096
4            C50   62440
5            C20   59102
6            C22   56645
7            C53   50352
8            C95   44274
9            C96   30324
10           C64   24246
11           C56   23398
12           C71   22745
13           C23   22450
14           C44   14974
15           C40   12362
16           C14   11751
17           C90   10953
18           C49   10826
19           C67   10740
20           C15   10480
21           C32    7928
22           C73    7643
23           C43    6414
24           C62    5595
25           C81    5309
26           C45    2680
27           C51    2041
28           C52    2008
29           C69    1006
30           C72     879
31           C68     398
32           C30     344
33           C66     270
34           C33     231
35           C42     129

In [6]:
detail_dict = currDict.to_dict()['cause_det']
df['detailCaus'] = df['causa_def'].map(detail_dict)
df.head()

,index,ent_regis,mun_regis,ent_resid,mun_resid,tloc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,causa_def,...,mes_cert,anio_cert,peso,lengua,cond_act,loc_resid,loc_ocurr,loc_ocur,ICD,detailCaus
0,0,1,1,1,1,1,1,1,1,C250,...,1,2010,8888.0,NaN,NaN,NaN,NaN,NaN,C25,Tumor maligno de la cabeza del páncreas
1,1,1,2,1,2,4,1,2,4,C229,...,1,2010,8888.0,NaN,NaN,NaN,NaN,NaN,C22,"Tumor maligno del hígado, no especificado"
2,2,1,3,1,3,2,1,3,1,C259,...,1,2010,8888.0,NaN,NaN,NaN,NaN,NaN,C25,"Tumor maligno del páncreas, parte no especificada"
3,3,1,3,1,3,7,1,3,7,C349,...,1,2010,8888.0,NaN,NaN,NaN,NaN,NaN,C34,"Tumor maligno de los bronquios o del pulmón, p..."
4,4,1,3,1,3,1,1,3,1,C481,...,1,2010,8888.0,NaN,NaN,NaN,NaN,NaN,C49,Tumor maligno de parte especificada del peritoneo

In [7]:
ndir = dirname(os.getcwd())
pPath = dirname(dirname(os.getcwd())) + '\\codec\\types.xlsx'
currDict = pd.read_excel(pPath)
currDict.set_index('ICD', inplace=True)
organ_dict = currDict.to_dict()['organ']
df['Organ'] = df['ICD'].map(organ_dict)
df.head()

,index,ent_regis,mun_regis,ent_resid,mun_resid,tloc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,causa_def,...,anio_cert,peso,lengua,cond_act,loc_resid,loc_ocurr,loc_ocur,ICD,detailCaus,Organ
0,0,1,1,1,1,1,1,1,1,C250,...,2010,8888.0,NaN,NaN,NaN,NaN,NaN,C25,Tumor maligno de la cabeza del páncreas,Pancreas
1,1,1,2,1,2,4,1,2,4,C229,...,2010,8888.0,NaN,NaN,NaN,NaN,NaN,C22,"Tumor maligno del hígado, no especificado",Liver
2,2,1,3,1,3,2,1,3,1,C259,...,2010,8888.0,NaN,NaN,NaN,NaN,NaN,C25,"Tumor maligno del páncreas, parte no especificada",Pancreas
3,3,1,3,1,3,7,1,3,7,C349,...,2010,8888.0,NaN,NaN,NaN,NaN,NaN,C34,"Tumor maligno de los bronquios o del pulmón, p...",Lungs
4,4,1,3,1,3,1,1,3,1,C481,...,2010,8888.0,NaN,NaN,NaN,NaN,NaN,C49,Tumor maligno de parte especificada del peritoneo,Soft Tissue

In [8]:
#fix inconsistencies on the lista_mex codes
df.loc[df['lista_mex'] == 8, 'lista_mex'] = '8C'
df.loc[df['lista_mex'] == 15, 'lista_mex'] = '15C'
df.loc[df['lista_mex'] == '8', 'lista_mex'] = '8C'
df.loc[df['lista_mex'] == '15', 'lista_mex'] = '15C'

In [9]:
pPath = dirname(dirname(os.getcwd())) + '\\codec\\causaMuerteMex.xlsx'
MexMuerto = pd.read_excel(pPath)
MexMuerto.drop(columns=['Unnamed: 0'], inplace=True)
MexMuerto.set_index('unique_values', inplace=True)
MexMuerto.head()

,counts,DESCRIP,organ,ICD
unique_values,,,,
10B,54864,"Tumor maligno de la tráquea, de los bronquios ...",Lungs,C34
11D,52088,Tumor maligno de la mama,Breast,C50
12F,51922,Tumor maligno de la próstata,Prostate,C61
09F,50609,Tumor maligno del hígado y de las vías biliare...,Liver,C22
09B,48511,Tumor maligno del estómago,Stomach,C16

In [10]:
ICDDict = MexMuerto.to_dict()['ICD']
df['ICD_Mex'] = df['lista_mex'].map(ICDDict)
DescriptDict = MexMuerto.to_dict()['DESCRIP']
df['detailCaus_Mex'] = df['lista_mex'].map(DescriptDict)
organDict = MexMuerto.to_dict()['organ']
df['organ_Mex'] = df['lista_mex'].map(organDict)
df.head()

,index,ent_regis,mun_regis,ent_resid,mun_resid,tloc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,causa_def,...,cond_act,loc_resid,loc_ocurr,loc_ocur,ICD,detailCaus,Organ,ICD_Mex,detailCaus_Mex,organ_Mex
0,0,1,1,1,1,1,1,1,1,C250,...,NaN,NaN,NaN,NaN,C25,Tumor maligno de la cabeza del páncreas,Pancreas,C25,Tumor maligno del páncreas,Pancreas
1,1,1,2,1,2,4,1,2,4,C229,...,NaN,NaN,NaN,NaN,C22,"Tumor maligno del hígado, no especificado",Liver,C22,Tumor maligno del hígado y de las vías biliare...,Liver
2,2,1,3,1,3,2,1,3,1,C259,...,NaN,NaN,NaN,NaN,C25,"Tumor maligno del páncreas, parte no especificada",Pancreas,C25,Tumor maligno del páncreas,Pancreas
3,3,1,3,1,3,7,1,3,7,C349,...,NaN,NaN,NaN,NaN,C34,"Tumor maligno de los bronquios o del pulmón, p...",Lungs,C34,"Tumor maligno de la tráquea, de los bronquios ...",Lungs
4,4,1,3,1,3,1,1,3,1,C481,...,NaN,NaN,NaN,NaN,C49,Tumor maligno de parte especificada del peritoneo,Soft Tissue,C49,Tumores malignos de los tejidos mesoteliales y...,Soft Tissue

In [11]:
pPath = dirname(dirname(os.getcwd())) + '\\codec\\years.xlsx'
currDict = pd.read_excel(pPath)
currDict.set_index('clave', inplace=True)
year_dict = currDict.to_dict()['year']
df['edad'] = df['edad'].map(year_dict)
df['edad'].head()

0    88
1    72
2    44
3    50
4    59
Name: edad, dtype: int64

In [12]:
df.shape[0]

787756

In [13]:
#Override Test File
pPath = dirname(dirname(os.getcwd()))+'\\CleansingNotebooks\\TotalCleanedTest.csv'
df.to_csv(pPath)