## yearRecords
cancerDataAnalysis/ <br>
&nbsp;&nbsp;&nbsp;├── 2012.csv <br>
&nbsp;&nbsp;&nbsp;├── 2013.csv <br>
&nbsp;&nbsp;&nbsp;├── 2014.csv <br>
&nbsp;&nbsp;&nbsp;├── 2015.csv <br>
&nbsp;&nbsp;&nbsp;├── 2016.csv <br>
&nbsp;&nbsp;&nbsp;├── 2017.csv <br>
&nbsp;&nbsp;&nbsp;├── 2018.csv <br>
&nbsp;&nbsp;&nbsp;└── 2019.csv <br>

In [1]:
#Librerias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import re

In [2]:
dirs = list()
from os.path import dirname
dir = dirname(dirname(os.getcwd()))+"\\yearRecords"
for filename in os.listdir(dir):
    if filename.endswith(".csv") or filename.endswith(".CSV"):
        dirs.append(dir+"\\"+filename)
dirs

['c:\\Users\\David Fernandez\\Desktop\\cancerDataAnalysis\\yearRecords\\cle_2010.csv',
 'c:\\Users\\David Fernandez\\Desktop\\cancerDataAnalysis\\yearRecords\\cle_2011.csv',
 'c:\\Users\\David Fernandez\\Desktop\\cancerDataAnalysis\\yearRecords\\cle_2012.csv',
 'c:\\Users\\David Fernandez\\Desktop\\cancerDataAnalysis\\yearRecords\\cle_2013.csv',
 'c:\\Users\\David Fernandez\\Desktop\\cancerDataAnalysis\\yearRecords\\cle_2014.csv',
 'c:\\Users\\David Fernandez\\Desktop\\cancerDataAnalysis\\yearRecords\\cle_2015.csv',
 'c:\\Users\\David Fernandez\\Desktop\\cancerDataAnalysis\\yearRecords\\cle_2016.csv',
 'c:\\Users\\David Fernandez\\Desktop\\cancerDataAnalysis\\yearRecords\\cle_2017.csv',
 'c:\\Users\\David Fernandez\\Desktop\\cancerDataAnalysis\\yearRecords\\cle_2018.csv',
 'c:\\Users\\David Fernandez\\Desktop\\cancerDataAnalysis\\yearRecords\\cle_2019.csv']

In [3]:
#open each file with pandas, extract death causes with REGEX CXXX,D000-D499 on each file
defunc = list()
for filename in dirs:
        currDF = pd.read_csv(filename)
        defunc.append(currDF) #Append clean datafiles on list

totalDefunc = pd.concat(defunc) #Make sigle frame out of each frame in defunc list
totalDefunc.shape[0]

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (51) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

787756

In [4]:
#set numerical index
totalDefunc = totalDefunc.reset_index()
totalDefunc.set_index('index', inplace=True)
totalDefunc.head()

,Unnamed: 0,ent_regis,mun_regis,ent_resid,mun_resid,tloc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,causa_def,...,lengua,cond_act,par_agre,ent_ocules,mun_ocules,loc_resid,loc_ocurr,loc_ocules,razon_m,loc_ocur
index,,,,,,,,,,,,,,,,,,,,,
0,7,1,1,1,1,1,1,1,1,C250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20,1,2,1,2,4,1,2,4,C229,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,41,1,3,1,3,2,1,3,1,C259,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,53,1,3,1,3,7,1,3,7,C349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,61,1,3,1,3,1,1,3,1,C481,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#drop useless columns
totalDefunc = totalDefunc.drop(columns=['Unnamed: 0','par_agre','ent_ocules','mun_ocules','loc_ocules','razon_m','dis_re_oax','maternas'])
totalDefunc.head()

,ent_regis,mun_regis,ent_resid,mun_resid,tloc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,causa_def,lista_mex,...,complicaro,dia_cert,mes_cert,anio_cert,peso,lengua,cond_act,loc_resid,loc_ocurr,loc_ocur
index,,,,,,,,,,,,,,,,,,,,,
0,1,1,1,1,1,1,1,1,C250,09G,...,8,11,1,2010,8888.0,NaN,NaN,NaN,NaN,NaN
1,1,2,1,2,4,1,2,4,C229,09F,...,8,5,1,2010,8888.0,NaN,NaN,NaN,NaN,NaN
2,1,3,1,3,2,1,3,1,C259,09G,...,2,1,1,2010,8888.0,NaN,NaN,NaN,NaN,NaN
3,1,3,1,3,7,1,3,7,C349,10B,...,2,14,1,2010,8888.0,NaN,NaN,NaN,NaN,NaN
4,1,3,1,3,1,1,3,1,C481,11E,...,8,20,1,2010,8888.0,NaN,NaN,NaN,NaN,NaN

In [7]:
#export
pPath = dirname(dirname(os.getcwd()))+'\\CleansingNotebooks\\TotalCleanedTest.csv'
totalDefunc.to_csv(pPath)