In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import re

In [2]:
from os.path import dirname
dirPath = dirname(dirname(os.getcwd()))+"\\CleansingNotebooks\\TotalCleanedTest.csv"
dirPath

'c:\\Users\\David Fernandez\\Desktop\\cancerDataAnalysis\\CleansingNotebooks\\TotalCleanedTest.csv'

In [3]:
df = pd.read_csv(dirPath)
#df.set_index('index', inplace=True)
df.drop(columns=['Unnamed: 0'], inplace=True)
totalCopy = df
totalCopy.drop(columns=['tloc_resid', 'loc_resid', 'tloc_ocurr', 'loc_ocurr'],inplace=True)
totalCopy.head()

,ent_regis,mun_regis,ent_resid,mun_resid,ent_ocurr,mun_ocurr,causa_def,lista_mex,sexo,edad,...,lengua,cond_act,loc_ocur,ICD,detailCaus,Organ,ICD_Mex,detailCaus_Mex,organ_Mex,edadCalc
0,1,1,1,1,1,1,C250,09G,1,88,...,NaN,NaN,NaN,C25,Tumor maligno de la cabeza del páncreas,Pancreas,C25,Tumor maligno del páncreas,Pancreas,88
1,1,2,1,2,1,2,C229,09F,2,72,...,NaN,NaN,NaN,C22,"Tumor maligno del hígado, no especificado",Liver,C22,Tumor maligno del hígado y de las vías biliare...,Liver,72
2,1,3,1,3,1,3,C259,09G,2,44,...,NaN,NaN,NaN,C25,"Tumor maligno del páncreas, parte no especificada",Pancreas,C25,Tumor maligno del páncreas,Pancreas,44
3,1,3,1,3,1,3,C349,10B,2,50,...,NaN,NaN,NaN,C34,"Tumor maligno de los bronquios o del pulmón, p...",Lungs,C34,"Tumor maligno de la tráquea, de los bronquios ...",Lungs,50
4,1,3,1,3,1,3,C481,11E,2,59,...,NaN,NaN,NaN,C49,Tumor maligno de parte especificada del peritoneo,Soft Tissue,C49,Tumores malignos de los tejidos mesoteliales y...,Soft Tissue,59

In [4]:
#fix zeroes on states
totalCopy['ent_regis'] = totalCopy['ent_regis'].apply(lambda x: '{0:0>2}'.format(x))
totalCopy['mun_regis'] = totalCopy['mun_regis'].apply(lambda x: '{0:0>3}'.format(x))
totalCopy['ent_resid'] = totalCopy['ent_resid'].apply(lambda x: '{0:0>2}'.format(x))
totalCopy['mun_resid'] = totalCopy['mun_resid'].apply(lambda x: '{0:0>3}'.format(x))
totalCopy['ent_ocurr'] = totalCopy['ent_ocurr'].apply(lambda x: '{0:0>2}'.format(x))
totalCopy['mun_ocurr'] = totalCopy['mun_ocurr'].apply(lambda x: '{0:0>3}'.format(x))
totalCopy.head()

,ent_regis,mun_regis,ent_resid,mun_resid,ent_ocurr,mun_ocurr,causa_def,lista_mex,sexo,edad,...,lengua,cond_act,loc_ocur,ICD,detailCaus,Organ,ICD_Mex,detailCaus_Mex,organ_Mex,edadCalc
0,01,001,01,001,01,001,C250,09G,1,88,...,NaN,NaN,NaN,C25,Tumor maligno de la cabeza del páncreas,Pancreas,C25,Tumor maligno del páncreas,Pancreas,88
1,01,002,01,002,01,002,C229,09F,2,72,...,NaN,NaN,NaN,C22,"Tumor maligno del hígado, no especificado",Liver,C22,Tumor maligno del hígado y de las vías biliare...,Liver,72
2,01,003,01,003,01,003,C259,09G,2,44,...,NaN,NaN,NaN,C25,"Tumor maligno del páncreas, parte no especificada",Pancreas,C25,Tumor maligno del páncreas,Pancreas,44
3,01,003,01,003,01,003,C349,10B,2,50,...,NaN,NaN,NaN,C34,"Tumor maligno de los bronquios o del pulmón, p...",Lungs,C34,"Tumor maligno de la tráquea, de los bronquios ...",Lungs,50
4,01,003,01,003,01,003,C481,11E,2,59,...,NaN,NaN,NaN,C49,Tumor maligno de parte especificada del peritoneo,Soft Tissue,C49,Tumores malignos de los tejidos mesoteliales y...,Soft Tissue,59

In [5]:
#index_names = totalCopy[ totalCopy['ent_regis'] == 99 ].index
#totalCopy.drop(index_names, inplace = True) 
ocurr = totalCopy.loc[((totalCopy['ent_ocurr'] == '99') & (totalCopy['mun_ocurr'] == '999')), 'anio_nacim'].count() 
resid = totalCopy.loc[((totalCopy['ent_resid'] == '99') & (totalCopy['mun_resid'] == '999')), 'anio_nacim'].count() 
regis = totalCopy.loc[((totalCopy['ent_regis'] == '99') & (totalCopy['mun_regis'] == '999')), 'anio_nacim'].count() 
print(f"{ocurr}, {resid}, {regis}")

1105, 1149, 0

In [6]:
index_names = totalCopy[((totalCopy['ent_ocurr'] == '99') & (totalCopy['mun_ocurr'] == '999'))].indexx
totalCopy.drop(index_names, inplace = True) 
index_names = totalCopy[((totalCopy['ent_resid'] == '99') & (totalCopy['mun_resid'] == '999'))].indexx
totalCopy.drop(index_names, inplace = True) 
index_names = totalCopy[((totalCopy['ent_regis'] == '99') & (totalCopy['mun_regis'] == '999'))].index
totalCopy.drop(index_names, inplace = True)

In [7]:
totalCopy.loc[(totalCopy['mun_resid'] == '999'), 'anio_nacim'].count()

1922

In [8]:
from os.path import dirname
pPath = dirname(dirname(os.getcwd())) + '\\codec\\states.xlsx'
stateDict = pd.read_excel(pPath)
stateDict['code'] = stateDict['code'].apply(lambda x: '{0:0>2}'.format(x))
stateDict.set_index('code', inplace=True)
stateDict.head()

                     state
code
01          Aguascalientes
02         Baja California
03     Baja California Sur
04                Campeche
05    Coahuila de Zaragoza

In [9]:
cause_dict = stateDict.to_dict()['state']
cause_dict

{'01': 'Aguascalientes',
 '02': 'Baja California',
 '03': 'Baja California Sur',
 '04': 'Campeche',
 '05': 'Coahuila de Zaragoza',
 '06': 'Colima',
 '07': 'Chiapas',
 '08': 'Chihuahua',
 '09': 'Distrito Federal',
 '10': 'Durango',
 '11': 'Guanajuato',
 '12': 'Guerrero',
 '13': 'Hidalgo',
 '14': 'Jalisco',
 '15': 'México',
 '16': 'Michoacán de Ocampo',
 '17': 'Morelos',
 '18': 'Nayarit',
 '19': 'Nuevo León',
 '20': 'Oaxaca',
 '21': 'Puebla',
 '22': 'Querétaro',
 '23': 'Quintana Roo',
 '24': 'San Luis Potosí',
 '25': 'Sinaloa',
 '26': 'Sonora',
 '27': 'Tabasco',
 '28': 'Tamaulipas',
 '29': 'Tlaxcala',
 '30': 'Veracruz de Ignacio de la Llave',
 '31': 'Yucatán',
 '32': 'Zacatecas',
 '33': 'Estados unidos de America'}

In [10]:
#totalCopy.drop(columns=['ent_regis_nm'],inplace=True)
#totalCopy.drop(columns=['ent_resid_nm'],inplace=True)
#totalCopy.drop(columns=['ent_ocurr_nm'],inplace=True)
new_col = totalCopy['ent_regis'].map(cause_dict)
totalCopy.insert(loc=1, column='ent_regis_nm', value=new_col)

new_col = totalCopy['ent_resid'].map(cause_dict)
totalCopy.insert(loc=4, column='ent_resid_nm', value=new_col)

new_col = totalCopy['ent_regis'].map(cause_dict)
totalCopy.insert(loc=7, column='ent_ocurr_nm', value=new_col)
totalCopy.head()

,ent_regis,ent_regis_nm,mun_regis,ent_resid,ent_resid_nm,mun_resid,ent_ocurr,ent_ocurr_nm,mun_ocurr,causa_def,...,lengua,cond_act,loc_ocur,ICD,detailCaus,Organ,ICD_Mex,detailCaus_Mex,organ_Mex,edadCalc
0,01,Aguascalientes,001,01,Aguascalientes,001,01,Aguascalientes,001,C250,...,NaN,NaN,NaN,C25,Tumor maligno de la cabeza del páncreas,Pancreas,C25,Tumor maligno del páncreas,Pancreas,88
1,01,Aguascalientes,002,01,Aguascalientes,002,01,Aguascalientes,002,C229,...,NaN,NaN,NaN,C22,"Tumor maligno del hígado, no especificado",Liver,C22,Tumor maligno del hígado y de las vías biliare...,Liver,72
2,01,Aguascalientes,003,01,Aguascalientes,003,01,Aguascalientes,003,C259,...,NaN,NaN,NaN,C25,"Tumor maligno del páncreas, parte no especificada",Pancreas,C25,Tumor maligno del páncreas,Pancreas,44
3,01,Aguascalientes,003,01,Aguascalientes,003,01,Aguascalientes,003,C349,...,NaN,NaN,NaN,C34,"Tumor maligno de los bronquios o del pulmón, p...",Lungs,C34,"Tumor maligno de la tráquea, de los bronquios ...",Lungs,50
4,01,Aguascalientes,003,01,Aguascalientes,003,01,Aguascalientes,003,C481,...,NaN,NaN,NaN,C49,Tumor maligno de parte especificada del peritoneo,Soft Tissue,C49,Tumores malignos de los tejidos mesoteliales y...,Soft Tissue,59

## Municiplaities
The problem here is that we have to create columns for each state and it's municipalities, which results in a dataframe with a "wavy" form among it's colums, so we have to merge it at the end.

In [11]:
claves = list()
for key in cause_dict.keys():
    claves.append(key)
claves

['01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [12]:
pPath = dirname(dirname(os.getcwd())) + '\\codec\\Municipios\\Municipalities.xlsx'
currDict = pd.read_excel(pPath)
#currDict['Clave_Mun'] = currDict['Clave_Mun'].astype(np.int64)
currDict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2474 entries, 0 to 2473
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Clave_Entidad     2474 non-null   int64
 1   Nombre            2474 non-null   object
 2   Clave_Mun         2474 non-null   int64
 3   Nombre_Municipio  2474 non-null   object
dtypes: int64(2), object(2)
memory usage: 77.4+ KB

In [13]:
currDict['Clave_Entidad'] = currDict['Clave_Entidad'].apply(lambda x: '{0:0>2}'.format(x))
currDict['Clave_Mun'] = currDict['Clave_Mun'].apply(lambda x: '{0:0>3}'.format(x))
currDict.head()

  Clave_Entidad          Nombre Clave_Mun Nombre_Municipio
0            01  Aguascalientes       001   Aguascalientes
1            01  Aguascalientes       002         Asientos
2            01  Aguascalientes       003         Calvillo
3            01  Aguascalientes       004            Cosio
4            01  Aguascalientes       005      Jesus Maria

In [14]:
#Create an empty Dataframe
df_ = pd.DataFrame(totalCopy['ent_regis'])
del df_['ent_regis']

In [15]:
muns = list()
cols = list()
i=0
for item in claves:
    mun = currDict.loc[(currDict['Clave_Entidad'] == item)]
    mun.set_index('Clave_Mun', inplace=True)
    currMun = mun.to_dict()['Nombre_Municipio']
    new_col = totalCopy.loc[totalCopy['ent_regis'] == item]['mun_regis'].map(currMun)
    name = "col"+str(i)
    df_.insert(i, column=name, value=new_col)
    muns.append(currMun)
    cols.append(name)
    i = i+1

In [16]:
df_.fillna('', inplace=True)
df_.head()

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col23,col24,col25,col26,col27,col28,col29,col30,col31,col32
0,Aguascalientes,,,,,,,,,,...,,,,,,,,,,
1,Asientos,,,,,,,,,,...,,,,,,,,,,
2,Calvillo,,,,,,,,,,...,,,,,,,,,,
3,Calvillo,,,,,,,,,,...,,,,,,,,,,
4,Calvillo,,,,,,,,,,...,,,,,,,,,,

In [17]:
df_['combined'] = df_[cols].apply(lambda row: ''.join(row.values.astype(str)), axis=1)
df_.head()

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col24,col25,col26,col27,col28,col29,col30,col31,col32,combined
0,Aguascalientes,,,,,,,,,,...,,,,,,,,,,Aguascalientes
1,Asientos,,,,,,,,,,...,,,,,,,,,,Asientos
2,Calvillo,,,,,,,,,,...,,,,,,,,,,Calvillo
3,Calvillo,,,,,,,,,,...,,,,,,,,,,Calvillo
4,Calvillo,,,,,,,,,,...,,,,,,,,,,Calvillo

In [18]:
#del totalCopy['mun_regis_nm']
new_col = df_['combined']
totalCopy.insert(3, column='mun_regis_nm', value=new_col)
totalCopy.head()

,ent_regis,ent_regis_nm,mun_regis,mun_regis_nm,ent_resid,ent_resid_nm,mun_resid,ent_ocurr,ent_ocurr_nm,mun_ocurr,...,lengua,cond_act,loc_ocur,ICD,detailCaus,Organ,ICD_Mex,detailCaus_Mex,organ_Mex,edadCalc
0,01,Aguascalientes,001,Aguascalientes,01,Aguascalientes,001,01,Aguascalientes,001,...,NaN,NaN,NaN,C25,Tumor maligno de la cabeza del páncreas,Pancreas,C25,Tumor maligno del páncreas,Pancreas,88
1,01,Aguascalientes,002,Asientos,01,Aguascalientes,002,01,Aguascalientes,002,...,NaN,NaN,NaN,C22,"Tumor maligno del hígado, no especificado",Liver,C22,Tumor maligno del hígado y de las vías biliare...,Liver,72
2,01,Aguascalientes,003,Calvillo,01,Aguascalientes,003,01,Aguascalientes,003,...,NaN,NaN,NaN,C25,"Tumor maligno del páncreas, parte no especificada",Pancreas,C25,Tumor maligno del páncreas,Pancreas,44
3,01,Aguascalientes,003,Calvillo,01,Aguascalientes,003,01,Aguascalientes,003,...,NaN,NaN,NaN,C34,"Tumor maligno de los bronquios o del pulmón, p...",Lungs,C34,"Tumor maligno de la tráquea, de los bronquios ...",Lungs,50
4,01,Aguascalientes,003,Calvillo,01,Aguascalientes,003,01,Aguascalientes,003,...,NaN,NaN,NaN,C49,Tumor maligno de parte especificada del peritoneo,Soft Tissue,C49,Tumores malignos de los tejidos mesoteliales y...,Soft Tissue,59

In [19]:
df_ = pd.DataFrame(totalCopy['ent_regis'])
del df_['ent_regis']

In [20]:
i=0
for item in claves:
    mun = currDict.loc[(currDict['Clave_Entidad'] == item)]
    mun.set_index('Clave_Mun', inplace=True)
    currMun = mun.to_dict()['Nombre_Municipio']
    new_col = totalCopy.loc[totalCopy['ent_resid'] == item]['mun_resid'].map(currMun)
    name = "col"+str(i)
    df_.insert(i, column=name, value=new_col)
    i = i+1

In [21]:
df_.fillna('', inplace=True)
df_['combined'] = df_[cols].apply(lambda row: ''.join(row.values.astype(str)), axis=1)
df_.head()

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col24,col25,col26,col27,col28,col29,col30,col31,col32,combined
0,Aguascalientes,,,,,,,,,,...,,,,,,,,,,Aguascalientes
1,Asientos,,,,,,,,,,...,,,,,,,,,,Asientos
2,Calvillo,,,,,,,,,,...,,,,,,,,,,Calvillo
3,Calvillo,,,,,,,,,,...,,,,,,,,,,Calvillo
4,Calvillo,,,,,,,,,,...,,,,,,,,,,Calvillo

In [22]:
#del totalCopy['mun_resid_nm']
new_col = df_['combined']
totalCopy.insert(7, column='mun_resid_nm', value=new_col)
totalCopy.head()

,ent_regis,ent_regis_nm,mun_regis,mun_regis_nm,ent_resid,ent_resid_nm,mun_resid,mun_resid_nm,ent_ocurr,ent_ocurr_nm,...,lengua,cond_act,loc_ocur,ICD,detailCaus,Organ,ICD_Mex,detailCaus_Mex,organ_Mex,edadCalc
0,01,Aguascalientes,001,Aguascalientes,01,Aguascalientes,001,Aguascalientes,01,Aguascalientes,...,NaN,NaN,NaN,C25,Tumor maligno de la cabeza del páncreas,Pancreas,C25,Tumor maligno del páncreas,Pancreas,88
1,01,Aguascalientes,002,Asientos,01,Aguascalientes,002,Asientos,01,Aguascalientes,...,NaN,NaN,NaN,C22,"Tumor maligno del hígado, no especificado",Liver,C22,Tumor maligno del hígado y de las vías biliare...,Liver,72
2,01,Aguascalientes,003,Calvillo,01,Aguascalientes,003,Calvillo,01,Aguascalientes,...,NaN,NaN,NaN,C25,"Tumor maligno del páncreas, parte no especificada",Pancreas,C25,Tumor maligno del páncreas,Pancreas,44
3,01,Aguascalientes,003,Calvillo,01,Aguascalientes,003,Calvillo,01,Aguascalientes,...,NaN,NaN,NaN,C34,"Tumor maligno de los bronquios o del pulmón, p...",Lungs,C34,"Tumor maligno de la tráquea, de los bronquios ...",Lungs,50
4,01,Aguascalientes,003,Calvillo,01,Aguascalientes,003,Calvillo,01,Aguascalientes,...,NaN,NaN,NaN,C49,Tumor maligno de parte especificada del peritoneo,Soft Tissue,C49,Tumores malignos de los tejidos mesoteliales y...,Soft Tissue,59

In [23]:
df_ = pd.DataFrame(totalCopy['ent_regis'])
del df_['ent_regis']
i=0
for item in claves:
    mun = currDict.loc[(currDict['Clave_Entidad'] == item)]
    mun.set_index('Clave_Mun', inplace=True)
    currMun = mun.to_dict()['Nombre_Municipio']
    new_col = totalCopy.loc[totalCopy['ent_ocurr'] == item]['mun_ocurr'].map(currMun)
    name = "col"+str(i)
    df_.insert(i, column=name, value=new_col)
    i = i+1

In [24]:
#del totalCopy['mun_ocurr_nm']
df_.fillna('', inplace=True)
df_['combined'] = df_[cols].apply(lambda row: ''.join(row.values.astype(str)), axis=1)
new_col = df_['combined']
totalCopy.insert(11, column='mun_ocurr_nm', value=new_col)
totalCopy.head()

,ent_regis,ent_regis_nm,mun_regis,mun_regis_nm,ent_resid,ent_resid_nm,mun_resid,mun_resid_nm,ent_ocurr,ent_ocurr_nm,...,lengua,cond_act,loc_ocur,ICD,detailCaus,Organ,ICD_Mex,detailCaus_Mex,organ_Mex,edadCalc
0,01,Aguascalientes,001,Aguascalientes,01,Aguascalientes,001,Aguascalientes,01,Aguascalientes,...,NaN,NaN,NaN,C25,Tumor maligno de la cabeza del páncreas,Pancreas,C25,Tumor maligno del páncreas,Pancreas,88
1,01,Aguascalientes,002,Asientos,01,Aguascalientes,002,Asientos,01,Aguascalientes,...,NaN,NaN,NaN,C22,"Tumor maligno del hígado, no especificado",Liver,C22,Tumor maligno del hígado y de las vías biliare...,Liver,72
2,01,Aguascalientes,003,Calvillo,01,Aguascalientes,003,Calvillo,01,Aguascalientes,...,NaN,NaN,NaN,C25,"Tumor maligno del páncreas, parte no especificada",Pancreas,C25,Tumor maligno del páncreas,Pancreas,44
3,01,Aguascalientes,003,Calvillo,01,Aguascalientes,003,Calvillo,01,Aguascalientes,...,NaN,NaN,NaN,C34,"Tumor maligno de los bronquios o del pulmón, p...",Lungs,C34,"Tumor maligno de la tráquea, de los bronquios ...",Lungs,50
4,01,Aguascalientes,003,Calvillo,01,Aguascalientes,003,Calvillo,01,Aguascalientes,...,NaN,NaN,NaN,C49,Tumor maligno de parte especificada del peritoneo,Soft Tissue,C49,Tumores malignos de los tejidos mesoteliales y...,Soft Tissue,59

## Merge state codes and mun codes for polygon generation later

In [25]:
cols = ['ent_regis', 'mun_regis']
totalCopy['mun_regis'] = totalCopy[cols].apply(lambda row: ''.join(row.values.astype(str)), axis=1)

cols = ['ent_resid', 'mun_resid']
totalCopy['mun_resid'] = totalCopy[cols].apply(lambda row: ''.join(row.values.astype(str)), axis=1)

cols = ['ent_ocurr', 'mun_ocurr']
totalCopy['mun_ocurr'] = totalCopy[cols].apply(lambda row: ''.join(row.values.astype(str)), axis=1)

totalCopy.head()

,ent_regis,ent_regis_nm,mun_regis,mun_regis_nm,ent_resid,ent_resid_nm,mun_resid,mun_resid_nm,ent_ocurr,ent_ocurr_nm,...,lengua,cond_act,loc_ocur,ICD,detailCaus,Organ,ICD_Mex,detailCaus_Mex,organ_Mex,edadCalc
0,01,Aguascalientes,01001,Aguascalientes,01,Aguascalientes,01001,Aguascalientes,01,Aguascalientes,...,NaN,NaN,NaN,C25,Tumor maligno de la cabeza del páncreas,Pancreas,C25,Tumor maligno del páncreas,Pancreas,88
1,01,Aguascalientes,01002,Asientos,01,Aguascalientes,01002,Asientos,01,Aguascalientes,...,NaN,NaN,NaN,C22,"Tumor maligno del hígado, no especificado",Liver,C22,Tumor maligno del hígado y de las vías biliare...,Liver,72
2,01,Aguascalientes,01003,Calvillo,01,Aguascalientes,01003,Calvillo,01,Aguascalientes,...,NaN,NaN,NaN,C25,"Tumor maligno del páncreas, parte no especificada",Pancreas,C25,Tumor maligno del páncreas,Pancreas,44
3,01,Aguascalientes,01003,Calvillo,01,Aguascalientes,01003,Calvillo,01,Aguascalientes,...,NaN,NaN,NaN,C34,"Tumor maligno de los bronquios o del pulmón, p...",Lungs,C34,"Tumor maligno de la tráquea, de los bronquios ...",Lungs,50
4,01,Aguascalientes,01003,Calvillo,01,Aguascalientes,01003,Calvillo,01,Aguascalientes,...,NaN,NaN,NaN,C49,Tumor maligno de parte especificada del peritoneo,Soft Tissue,C49,Tumores malignos de los tejidos mesoteliales y...,Soft Tissue,59

## Final Clean, drop useless columns

In [26]:
totalCopy.drop(columns=['lugar_ocur', 'ocurr_trab','presunto','derechohab','edad_agru','asist_medi','necropsia','capitulo','vio_fami','lista1','gr_lismex'],inplace=True)

In [27]:
totalCopy.drop(columns=['cond_cert','grupo','cond_act','cond_cert','edadCalc'],inplace=True)

In [28]:
totalCopy.drop(columns=['dia_cert', 'mes_cert', 'anio_cert','sitio_ocur', 'horas', 'minutos'],inplace=True)

In [29]:
#override Test
pPath = dirname(dirname(os.getcwd()))+'\\codec\\TotalCleanedTest.csv'
dPath = dirname(dirname(os.getcwd()))+'\\CleansingNotebooks\\TotalCleanedTest.csv'
os.remove(dPath)
totalCopy.to_csv(pPath)
pPath

'c:\\Users\\David Fernandez\\Desktop\\cancerDataAnalysis\\codec\\TotalCleanedTest.csv'