In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import re

In [2]:
from os.path import dirname
dirPath = dirname(dirname(os.getcwd()))+"\\CleansingNotebooks\\TotalCleanedTest.csv"
dirPath

'c:\\Users\\David Fernandez\\Desktop\\cancerDataAnalysis\\CleansingNotebooks\\TotalCleanedTest.csv'

# Age Cleansing

In [3]:
df = pd.read_csv(dirPath)
#df.set_index('index', inplace=True)
df.drop(columns=['Unnamed: 0', 'index'], inplace=True)
totalCopy = df
totalCopy.head()

,ent_regis,mun_regis,ent_resid,mun_resid,tloc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,causa_def,lista_mex,...,cond_act,loc_resid,loc_ocurr,loc_ocur,ICD,detailCaus,Organ,ICD_Mex,detailCaus_Mex,organ_Mex
0,1,1,1,1,1,1,1,1,C250,09G,...,NaN,NaN,NaN,NaN,C25,Tumor maligno de la cabeza del páncreas,Pancreas,C25,Tumor maligno del páncreas,Pancreas
1,1,2,1,2,4,1,2,4,C229,09F,...,NaN,NaN,NaN,NaN,C22,"Tumor maligno del hígado, no especificado",Liver,C22,Tumor maligno del hígado y de las vías biliare...,Liver
2,1,3,1,3,2,1,3,1,C259,09G,...,NaN,NaN,NaN,NaN,C25,"Tumor maligno del páncreas, parte no especificada",Pancreas,C25,Tumor maligno del páncreas,Pancreas
3,1,3,1,3,7,1,3,7,C349,10B,...,NaN,NaN,NaN,NaN,C34,"Tumor maligno de los bronquios o del pulmón, p...",Lungs,C34,"Tumor maligno de la tráquea, de los bronquios ...",Lungs
4,1,3,1,3,1,1,3,1,C481,11E,...,NaN,NaN,NaN,NaN,C49,Tumor maligno de parte especificada del peritoneo,Soft Tissue,C49,Tumores malignos de los tejidos mesoteliales y...,Soft Tissue

In [4]:
#CHECK UNIQUE VALUES ON anio_nacim
years = totalCopy['anio_nacim'].value_counts().rename_axis('unique_values').reset_index(name='counts')
years.to_csv('anio_nacim.csv')
years

     unique_values  counts
0             1940   19246
1             1942   18683
2             1945   18634
3             1943   18536
4             1947   18132
..             ...     ...
118           1903       7
119           1902       5
120           1900       2
121           1898       1
122           1897       1

[123 rows x 2 columns]

In [5]:
#drop values of unregistered years
index_names = totalCopy[ totalCopy['edad'] == 121 ].index
totalCopy.drop(index_names, inplace = True) 
index_names = totalCopy[ totalCopy['anio_nacim'] == 9999 ].index
totalCopy.drop(index_names, inplace = True) 
ages =totalCopy.filter(['edad','anio_nacim','anio_ocur','anio_regis'], axis=1)
ages.head()

   edad  anio_nacim  anio_ocur  anio_regis
0    88        1922       2010        2010
1    72        1938       2010        2010
2    44        1965       2009        2010
3    50        1960       2010        2010
4    59        1951       2010        2010

In [6]:
ages.shape

(786841, 4)

In [7]:
ages['edadCalc'] = ages['anio_ocur'] - ages['anio_nacim']
ages['edadCalc']

0         88
1         72
2         44
3         50
4         59
          ..
787751    38
787752     9
787753    69
787754     2
787755    66
Name: edadCalc, Length: 786841, dtype: int64

In [8]:
ages.query('edadCalc != edad')

        edad  anio_nacim  anio_ocur  anio_regis  edadCalc
244        0        2009       2010        2010         1
5398       0        2009       2010        2010         1
6013       0        2009       2010        2010         1
14920      0        2009       2010        2010         1
14946      0        2009       2010        2010         1
...      ...         ...        ...         ...       ...
787722    57        1961       2019        2019        58
787724    69        1949       2019        2019        70
787738    55        1963       2019        2019        56
787741    56        1962       2019        2019        57
787747    90        1928       2019        2019        91

[244807 rows x 5 columns]

In [9]:
ages[ages.edadCalc - ages.edad == 1].count()

edad          244694
anio_nacim    244694
anio_ocur     244694
anio_regis    244694
edadCalc      244694
dtype: int64

In [10]:
totalCopy['edadCalc'] = totalCopy['anio_ocur'] - totalCopy['anio_nacim']
totalCopy.head()

,ent_regis,mun_regis,ent_resid,mun_resid,tloc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,causa_def,lista_mex,...,loc_resid,loc_ocurr,loc_ocur,ICD,detailCaus,Organ,ICD_Mex,detailCaus_Mex,organ_Mex,edadCalc
0,1,1,1,1,1,1,1,1,C250,09G,...,NaN,NaN,NaN,C25,Tumor maligno de la cabeza del páncreas,Pancreas,C25,Tumor maligno del páncreas,Pancreas,88
1,1,2,1,2,4,1,2,4,C229,09F,...,NaN,NaN,NaN,C22,"Tumor maligno del hígado, no especificado",Liver,C22,Tumor maligno del hígado y de las vías biliare...,Liver,72
2,1,3,1,3,2,1,3,1,C259,09G,...,NaN,NaN,NaN,C25,"Tumor maligno del páncreas, parte no especificada",Pancreas,C25,Tumor maligno del páncreas,Pancreas,44
3,1,3,1,3,7,1,3,7,C349,10B,...,NaN,NaN,NaN,C34,"Tumor maligno de los bronquios o del pulmón, p...",Lungs,C34,"Tumor maligno de la tráquea, de los bronquios ...",Lungs,50
4,1,3,1,3,1,1,3,1,C481,11E,...,NaN,NaN,NaN,C49,Tumor maligno de parte especificada del peritoneo,Soft Tissue,C49,Tumores malignos de los tejidos mesoteliales y...,Soft Tissue,59

In [11]:
#fix Ages that diverge one year
totalCopy.loc[(totalCopy.edadCalc - totalCopy.edad) == 1, 'edad'] = totalCopy['edadCalc']
totalCopy.loc[(totalCopy.edad - totalCopy.edadCalc) == 1, 'edad'] = totalCopy['edadCalc']  
#totalCopy[totalCopy.edadCalc - totalCopy.edad == 1].count()

In [12]:
#Ages that makes no sense // fix anio_nacim
ages =totalCopy.filter(['edad','anio_nacim','anio_ocur','anio_regis'], axis=1)
ages['edadCalc'] = ages['anio_ocur'] - ages['anio_nacim']
ages['edadCalc']
ages.query('edadCalc != edad')

        edad  anio_nacim  anio_ocur  anio_regis  edadCalc
39706      0        1944       2010        2010        66
60315      0        2002       2010        2010         8
67806      0        1952       2010        2010        58
118827     0        1983       2011        2011        28
120070     0        1952       2011        2011        59
...      ...         ...        ...         ...       ...
755832    59        2019       2019        2019         0
759286    73        2019       2019        2019         0
762495    16        2019       2019        2019         0
776539    52        2019       2019        2019         0
779258     9        2019       2019        2019         0

[102 rows x 5 columns]

In [13]:
#fix anio_nacim and recalc
totalCopy.loc[(totalCopy["anio_nacim"] == totalCopy["anio_ocur"]) & (totalCopy["edad"] > 0), 'anio_nacim'] = totalCopy['anio_ocur'] - totalCopy['edad']
totalCopy['edadCalc'] = totalCopy['anio_ocur'] - totalCopy['anio_nacim']
#totalCopy.loc[(totalCopy["anio_nacim"] == totalCopy["anio_ocur"]), 'anio_nacim'].count() 
#totalCopy.loc[(totalCopy.anio_nacim == totalCopy.anio_ocur) & (totalCopy.anio_nacim>0), 'anio_nacim'] = totalCopy['anio_ocur'] - totalCopy['edad']
#totalCopy.loc[totalCopy.edadCalc, 'edadCalc'] = totalCopy['anio_ocur'] - totalCopy['anio_nacim']

In [14]:
ages =totalCopy.filter(['edad','anio_nacim','anio_ocur','anio_regis'], axis=1)
totalCopy.query('edadCalc != edad')

,ent_regis,mun_regis,ent_resid,mun_resid,tloc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,causa_def,lista_mex,...,loc_resid,loc_ocurr,loc_ocur,ICD,detailCaus,Organ,ICD_Mex,detailCaus_Mex,organ_Mex,edadCalc
39706,16,90,16,90,5,16,90,5,C64X,12J,...,NaN,NaN,NaN,C64,"Tumor maligno del riñón, excepto de la pelvis ...",Kidney,C68,Otros tumores malignos de las vías urinarias,Urinary Tract Other,66
60315,28,38,28,38,14,28,38,14,C749,13Z,...,NaN,NaN,NaN,C64,"Tumor maligno de la glándula suprarrenal, part...",Kidney,C999,Los demás tumores malignos de otros sitios y l...,Otros,8
67806,30,206,30,206,8,30,206,8,C229,09F,...,NaN,NaN,NaN,C22,"Tumor maligno del hígado, no especificado",Liver,C22,Tumor maligno del hígado y de las vías biliare...,Liver,58
118827,20,546,20,546,1,20,546,1,C910,14D,...,NaN,NaN,NaN,C95,Leucemia linfoblástica aguda [LLA],Leukemia,C95,Leucemias,Leukemia,28
120070,21,40,21,40,3,21,40,3,C80X,13Z,...,NaN,NaN,NaN,C25,Tumor maligno de sitios no especificados,Pancreas,C999,Los demás tumores malignos de otros sitios y l...,Otros,59
318721,13,76,13,67,5,13,76,8,C439,11B,...,5.0,1.0,NaN,C43,"Melanoma maligno de piel, sitio no especificado",Melanoma,C45,Melanoma maligno de la piel,Melanoma,48
337693,19,38,19,38,99,19,38,10,C61X,12F,...,9999.0,1.0,NaN,C61,Tumor maligno de la próstata,Prostate,C61,Tumor maligno de la próstata,Prostate,79
340523,19,39,19,21,14,19,39,16,C229,09F,...,1.0,1.0,NaN,C22,"Tumor maligno del hígado, no especificado",Liver,C22,Tumor maligno del hígado y de las vías biliare...,Liver,113
340917,19,39,19,39,99,19,26,15,C809,13Z,...,9999.0,1.0,NaN,C25,"Tumor maligno, sitio primario no especificado",Pancreas,C999,Los demás tumores malignos de otros sitios y l...,Otros,113
417526,19,39,19,26,15,19,26,15,C719,13A,...,1.0,1.0,NaN,C71,"Tumor maligno del encéfalo, parte no especificada",Brain,C71,Tumor maligno del encéfalo,Brain,66
432073,26,33,26,33,99,26,33,99,C809,13Z,...,9999.0,9999.0,NaN,C25,"Tumor maligno, sitio primario no especificado",Pancreas,C999,Los demás tumores malignos de otros sitios y l...,Otros,82
450798,5,30,5,30,15,5,30,15,C169,09B,...,1.0,1.0,NaN,C16,"Tumor maligno del estómago, parte no especificada",Stomach,C16,Tumor maligno del estómago,Stomach,66
456835,8,40,8,40,1,8,40,7,C61X,12F,...,7777.0,1.0,NaN,C61,Tumor maligno de la próstata,Prostate,C61,Tumor maligno de la próstata,Prostate,66
528071,32,39,32,39,99,32,10,13,C61X,12F,...,9999.0,1.0,NaN,C61,Tumor maligno de la próstata,Prostate,C61,Tumor maligno de la próstata,Prostate,84
535520,5,30,5,30,15,5,30,15,C64X,12J,...,1.0,NaN,1.0,C64,"Tumor maligno del riñón, excepto de la pelvis ...",Kidney,C68,Otros tumores malignos de las vías urinarias,Urinary Tract Other,3
617928,5,3,99,999,99,99,999,99,C760,13Z,...,9999.0,9999.0,NaN,C44,"Tumor maligno de la cabeza, cara y cuello",Skin non Melanoma,C999,Los demás tumores malignos de otros sitios y l...,Otros,54
637932,10,8,99,999,99,99,999,99,C56X,12D,...,9999.0,9999.0,NaN,C56,Tumor maligno del ovario,Ovary,C56,Tumor maligno del ovario,Ovary,88
639398,11,17,11,17,14,11,17,14,C259,09G,...,1.0,1.0,NaN,C25,"Tumor maligno del páncreas, parte no especificada",Pancreas,C25,Tumor maligno del páncreas,Pancreas,8064
702041,2,4,2,4,16,2,4,16,C159,09A,...,1.0,1.0,NaN,C15,"Tumor maligno del esófago, parte no especificada",Esophagus,C15,Tumor maligno del esófago,Esophagus,1
725227,10,23,10,21,5,10,21,5,C349,10B,...,1.0,1.0,NaN,C34,"Tumor maligno de los bronquios o del pulmón, p...",Lungs,C34,"Tumor maligno de la tráquea, de los bronquios ...",Lungs,70

In [15]:
index_names = totalCopy[ totalCopy['anio_ocur'] == 9999 ].index
totalCopy.drop(index_names, inplace = True) 
totalCopy.query('edadCalc != edad')

,ent_regis,mun_regis,ent_resid,mun_resid,tloc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,causa_def,lista_mex,...,loc_resid,loc_ocurr,loc_ocur,ICD,detailCaus,Organ,ICD_Mex,detailCaus_Mex,organ_Mex,edadCalc
39706,16,90,16,90,5,16,90,5,C64X,12J,...,NaN,NaN,NaN,C64,"Tumor maligno del riñón, excepto de la pelvis ...",Kidney,C68,Otros tumores malignos de las vías urinarias,Urinary Tract Other,66
60315,28,38,28,38,14,28,38,14,C749,13Z,...,NaN,NaN,NaN,C64,"Tumor maligno de la glándula suprarrenal, part...",Kidney,C999,Los demás tumores malignos de otros sitios y l...,Otros,8
67806,30,206,30,206,8,30,206,8,C229,09F,...,NaN,NaN,NaN,C22,"Tumor maligno del hígado, no especificado",Liver,C22,Tumor maligno del hígado y de las vías biliare...,Liver,58
118827,20,546,20,546,1,20,546,1,C910,14D,...,NaN,NaN,NaN,C95,Leucemia linfoblástica aguda [LLA],Leukemia,C95,Leucemias,Leukemia,28
120070,21,40,21,40,3,21,40,3,C80X,13Z,...,NaN,NaN,NaN,C25,Tumor maligno de sitios no especificados,Pancreas,C999,Los demás tumores malignos de otros sitios y l...,Otros,59
318721,13,76,13,67,5,13,76,8,C439,11B,...,5.0,1.0,NaN,C43,"Melanoma maligno de piel, sitio no especificado",Melanoma,C45,Melanoma maligno de la piel,Melanoma,48
337693,19,38,19,38,99,19,38,10,C61X,12F,...,9999.0,1.0,NaN,C61,Tumor maligno de la próstata,Prostate,C61,Tumor maligno de la próstata,Prostate,79
340523,19,39,19,21,14,19,39,16,C229,09F,...,1.0,1.0,NaN,C22,"Tumor maligno del hígado, no especificado",Liver,C22,Tumor maligno del hígado y de las vías biliare...,Liver,113
340917,19,39,19,39,99,19,26,15,C809,13Z,...,9999.0,1.0,NaN,C25,"Tumor maligno, sitio primario no especificado",Pancreas,C999,Los demás tumores malignos de otros sitios y l...,Otros,113
417526,19,39,19,26,15,19,26,15,C719,13A,...,1.0,1.0,NaN,C71,"Tumor maligno del encéfalo, parte no especificada",Brain,C71,Tumor maligno del encéfalo,Brain,66
432073,26,33,26,33,99,26,33,99,C809,13Z,...,9999.0,9999.0,NaN,C25,"Tumor maligno, sitio primario no especificado",Pancreas,C999,Los demás tumores malignos de otros sitios y l...,Otros,82
450798,5,30,5,30,15,5,30,15,C169,09B,...,1.0,1.0,NaN,C16,"Tumor maligno del estómago, parte no especificada",Stomach,C16,Tumor maligno del estómago,Stomach,66
456835,8,40,8,40,1,8,40,7,C61X,12F,...,7777.0,1.0,NaN,C61,Tumor maligno de la próstata,Prostate,C61,Tumor maligno de la próstata,Prostate,66
528071,32,39,32,39,99,32,10,13,C61X,12F,...,9999.0,1.0,NaN,C61,Tumor maligno de la próstata,Prostate,C61,Tumor maligno de la próstata,Prostate,84
535520,5,30,5,30,15,5,30,15,C64X,12J,...,1.0,NaN,1.0,C64,"Tumor maligno del riñón, excepto de la pelvis ...",Kidney,C68,Otros tumores malignos de las vías urinarias,Urinary Tract Other,3
617928,5,3,99,999,99,99,999,99,C760,13Z,...,9999.0,9999.0,NaN,C44,"Tumor maligno de la cabeza, cara y cuello",Skin non Melanoma,C999,Los demás tumores malignos de otros sitios y l...,Otros,54
637932,10,8,99,999,99,99,999,99,C56X,12D,...,9999.0,9999.0,NaN,C56,Tumor maligno del ovario,Ovary,C56,Tumor maligno del ovario,Ovary,88
702041,2,4,2,4,16,2,4,16,C159,09A,...,1.0,1.0,NaN,C15,"Tumor maligno del esófago, parte no especificada",Esophagus,C15,Tumor maligno del esófago,Esophagus,1
725227,10,23,10,21,5,10,21,5,C349,10B,...,1.0,1.0,NaN,C34,"Tumor maligno de los bronquios o del pulmón, p...",Lungs,C34,"Tumor maligno de la tráquea, de los bronquios ...",Lungs,70

In [16]:
#totalCopy[(totalCopy["edad"]!=totalCopy["edadCalc"]) & (totalCopy["edad"] > 0)].count()
totalCopy.loc[(totalCopy["edad"]!=totalCopy["edadCalc"]), 'edad'] = totalCopy['edadCalc']
totalCopy.query('edadCalc != edad')

Empty DataFrame
Columns: [ent_regis, mun_regis, ent_resid, mun_resid, tloc_resid, ent_ocurr, mun_ocurr, tloc_ocurr, causa_def, lista_mex, sexo, edad, dia_ocurr, mes_ocurr, anio_ocur, dia_regis, mes_regis, anio_regis, dia_nacim, mes_nacim, anio_nacim, ocupacion, escolarida, edo_civil, presunto, ocurr_trab, lugar_ocur, necropsia, asist_medi, sitio_ocur, cond_cert, nacionalid, derechohab, embarazo, rel_emba, horas, minutos, capitulo, grupo, lista1, gr_lismex, vio_fami, area_ur, edad_agru, complicaro, dia_cert, mes_cert, anio_cert, peso, lengua, cond_act, loc_resid, loc_ocurr, loc_ocur, ICD, detailCaus, Organ, ICD_Mex, detailCaus_Mex, organ_Mex, edadCalc]
Index: []

[0 rows x 61 columns]

In [17]:
years = totalCopy['edad'].value_counts().rename_axis('unique_values').reset_index(name='counts')
years.to_csv('edad.csv')

In [18]:
totalCopy.loc[totalCopy['edad'] == 0]

,ent_regis,mun_regis,ent_resid,mun_resid,tloc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,causa_def,lista_mex,...,loc_resid,loc_ocurr,loc_ocur,ICD,detailCaus,Organ,ICD_Mex,detailCaus_Mex,organ_Mex,edadCalc
4969,5,30,5,30,15,5,30,15,C749,13Z,...,NaN,NaN,NaN,C64,"Tumor maligno de la glándula suprarrenal, part...",Kidney,C999,Los demás tumores malignos de otros sitios y l...,Otros,0
5244,6,2,14,22,7,6,2,13,C920,14D,...,NaN,NaN,NaN,C95,Leucemia mieloblástica aguda [LMA],Leukemia,C95,Leucemias,Leukemia,0
6944,7,54,7,54,1,7,54,1,C710,13A,...,NaN,NaN,NaN,C71,"Tumor maligno del cerebro, excepto lóbulos y v...",Brain,C71,Tumor maligno del encéfalo,Brain,0
9164,8,2,8,2,1,8,19,15,C710,13A,...,NaN,NaN,NaN,C71,"Tumor maligno del cerebro, excepto lóbulos y v...",Brain,C71,Tumor maligno del encéfalo,Brain,0
9288,8,19,8,36,1,8,19,15,C920,14D,...,NaN,NaN,NaN,C95,Leucemia mieloblástica aguda [LMA],Leukemia,C95,Leucemias,Leukemia,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774308,27,4,27,4,14,27,4,14,C749,13Z,...,1.0,1.0,NaN,C64,"Tumor maligno de la glándula suprarrenal, part...",Kidney,C999,Los demás tumores malignos de otros sitios y l...,Otros,0
780366,30,118,30,44,13,30,118,13,C959,14D,...,1.0,1.0,NaN,C95,"Leucemia, no especificada",Leukemia,C95,Leucemias,Leukemia,0
783214,30,87,30,87,14,30,87,14,C930,14D,...,1.0,1.0,NaN,C95,Leucemia monocítica/monoblástica aguda,Leukemia,C95,Leucemias,Leukemia,0
786932,32,10,32,10,13,32,56,13,C380,10Z,...,1.0,1.0,NaN,C42,Tumor maligno del corazón,Heart,C30,Los demás tumores malignos de órganos respirat...,Outter Respiratory,0
787073,32,40,32,40,5,32,56,13,C419,11A,...,1.0,1.0,NaN,C40,Tumor maligno del hueso y del cartílago articu...,Bone,C40,Tumores malignos de los huesos y de los cartíl...,Bone,0

In [19]:
#Override Test File
from os.path import dirname
pPath = dirname(dirname(os.getcwd()))+'\\CleansingNotebooks\\TotalCleanedTest.csv'
totalCopy.to_csv(pPath)

## Delete null Vals

Ignore this don't run it

In [ ]:
index_names = totalCopy[((totalCopy['anio_ocur'] == 99) | (totalCopy['mes_ocurr'] == 99)| (totalCopy['dia_ocurr'] == 99))].index
totalCopy.drop(index_names, inplace = True) 
index_names = totalCopy[((totalCopy['anio_nacim'] == 99) | (totalCopy['mes_nacim'] == 99)| (totalCopy['dia_nacim'] == 99))].index
totalCopy.drop(index_names, inplace = True) 
totalDefunc = totalDefunc.drop(columns=['index','Unnamed: 59','par_agre','ent_ocules','mun_ocules','loc_ocules','razon_m','dis_re_oax'])